<!doctype html>
<html>
<head>
<title>Hello from Flask</title>
  <h1>Hello World!</h1>

<link type="text/css" href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ url_for('static', filename='ForceDirected.css') }}" rel="stylesheet" />


<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.json.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jit_biel.js') }}"></script>
</head>

<body>
	<div id="infovis" style="width: 500px; height: 500px;"></div> 

<script type="text/javascript">
	function post_as_json(url,dataobject,callback) {
		// Encodes dataobject in a json string and does a POST at urt.
		// On success calls callback
		$.ajax({
			type: "POST",
			url:url,
			data: $.toJSON(dataobject),
			contentType : "application/json; charset=utf-8",
			dataType: "json",
			success: callback
		})
	}

	function echo_data(data) {
		console.log(data)
		var nodes = data.nodes
		console.log(nodes)
		var pos = data.pos
		$.each(nodes, function(node,data_node){
			console.log(node,'--->',data_node);
			console.log('position:',data_node.pos);
			console.log('arrows to:',data_node.adj);
			if (data_node.lbl) {
				console.log('label:',data_node.lbl);
			}
			else {
				console.log('nolabel');
			}
		})
		//nodes.forEach(function(node){
		//	console.log(node,pos[node]);
		//})
	}

	function test() {
		
		var data0 = {eNewick:"((1,2),3);",numberId: "1", companyId : "531", altre: { patata:5,ceba:2}};
		post_as_json("/echo",data0,echo_data);
	}
	//test()
	var labelType, useGradients, nativeTextSupport, animate;

var Log = {
  elem: false,
  write: function(text){
    if (!this.elem) 
      this.elem = document.getElementById('log');
    this.elem.innerHTML = text;
    this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
  }
};

	(function() {
		var ua = navigator.userAgent,
		iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
		typeOfCanvas = typeof HTMLCanvasElement,
		nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
		textSupport = nativeCanvasSupport
		&& (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
		//I'm setting this based on the fact that ExCanvas provides text support for IE
		//and that as of today iPhone/iPad current text support is lame
		labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
		nativeTextSupport = labelType == 'Native';
		useGradients = nativeCanvasSupport;
		animate = !(iStuff || !nativeCanvasSupport);
		})(); 
	
	var json = [
		{id:'_1', name:'1st',adjacencies:['_2']},
		{id:'_2', name:'2nd',adjacencies:[]},
	]
	

var img = new Image();
img.onload = function() {
	console.log("onload");
	fd.canvas.translate(0,0)
}
img.src = "{{ url_for('static', filename='backg.jpg') }}";
//context.drawImage(img, -150, -150);

	
	fd = new $jit.ForceDirected({
    //id of the visualization container
    injectInto: 'infovis',
    //backgroundColor: "#fff", 
    //Enable zooming and panning
    //by scrolling and DnD
    background: {img:img,imgx:-150,imgy:-150,numberOfCircles:6},
    Navigation: {
      enable: true,
      //Enable panning events only if we're dragging the empty
      //canvas (and not a node).
      panning: 'avoid nodes',
      zooming: 10, //zoom speed. higher is more sensible
      //tpm: function() {context.drawImage(img, -150, -150);}
    },
    // Change node and edge styles such as
    // color and width.
    // These properties are also set per node
    // with dollar prefixed data-properties in the
    // JSON structure.
    Node: {
      overridable: true
    },
    Edge: {
      overridable: true,
      color: '#23A4FF',
      lineWidth: 0.4
    },
    //Native canvas text styling
    Label: {
      type: labelType, //Native or HTML
      size: 10,
      style: 'bold'
    },
    //Add Tips
    Tips: {
      enable: true,
      onShow: function(tip, node) {
        //count connections
        var count = 0;
        node.eachAdjacency(function() { count++; });
        //display node info in tooltip
        tip.innerHTML = "<div class=\"tip-title\">" + node.name + "</div>"
          + "<div class=\"tip-text\"><b>connections:</b> " + count + "</div>";
      }
    },
    // Add node events
    Events: {
      enable: true,
      enableForEdges: true,
      type: 'Native',
      //Change cursor style when hovering a node
      onMouseEnter: function(node) {
      	//console.log("onMouseEnter")
      	if (node.nodeTo) {
      		//console.log("on edge")
      	}
      	else{
	        fd.canvas.getElement().style.cursor = 'move';
	    }
      },
      onMouseLeave: function() {
      	//console.log("onMouseLeave")
        fd.canvas.getElement().style.cursor = '';
      },
      onDragStart: function(node, eventInfo, e) {
      	  console.log("onDragStart")
      },
      onDragEnd: function(node, eventInfo, e) {
      	  console.log("onDragEnd")
      },
      onDragCancel: function(node, eventInfo, e) {
      	  console.log("onDragCancel")
      },
      //Update node positions when dragged
      onDragMove: function(node, eventInfo, e) {
      	  console.log("onDragMove")
      	  if (node.nodeTo) {
      	  	return;
      	  }
          var pos = eventInfo.getPos();
          node.pos.setc(pos.x, pos.y);
          fd.plot();
      },
      //Implement the same handler for touchscreens
      onTouchMove: function(node, eventInfo, e) {
      	console.log("onTouchMove")
        $jit.util.event.stop(e); //stop default touchmove event
        this.onDragMove(node, eventInfo, e);
      },
      //Add also a click handler to nodes
      onClick: function(node, eventInfo, e) {
      	
      	console.log("onClick")
      	//test(fd, node, eventInfo, e)
        if(!node) return;
        if(node.nodeTo) {
        	console.log("click on edge");
        	node.data.$color = "red"
        	fd.plot()
        	//test(fd, node, eventInfo, e)
         	return;
        }
        // Build the right column relations list.
        // This is done by traversing the clicked node connections.
        var html = "<h4>" + node.name + "</h4><b> connections:</b><ul><li>",
            list = [];
        node.eachAdjacency(function(adj){
          list.push(adj.nodeTo.name);
        });
        //append connections information
        $jit.id('inner-details').innerHTML = html + list.join("</li><li>") + "</li></ul>";
      }
    },
    //Number of iterations for the FD algorithm
    iterations: 200,
    //Edge length
    levelDistance: 130,
    // Add text to the labels. This method is only triggered
    // on label creation and only for DOM labels (not native canvas ones).
    onCreateLabel: function(domElement, node){
      domElement.innerHTML = node.name;
      var style = domElement.style;
      style.fontSize = "0.8em";
      style.color = "#ddd";
    },
    // Change node styles when DOM labels are placed
    // or moved.
    onPlaceLabel: function(domElement, node){
      var style = domElement.style;
      var left = parseInt(style.left);
      var top = parseInt(style.top);
      var w = domElement.offsetWidth;
      style.left = (left - w / 2) + 'px';
      style.top = (top + 10) + 'px';
      style.display = '';
    }
  });

	//var graph=fd.graph;
	fd.loadJSON([{id:'dummy'}]);
	fd.graph.removeNode('dummy');
	////var graph = fd.graph;
	////console.log(graph);
	////var dummynode = graph.getNode('dummy')
	////console.log(dummynode);
	////dummynode.getPos().setc(1000000,1000000);
	//fd.graph.removeNode("dummy");
	//fd.loadJSON(json);
	//var node = fd.graph.addNode({id:'_1',name:'1st'});
	//fd.root = '_id';
	//node.getPos().setc(100,100);
	//var data = node.data;
	//data.$dim = 10
	//data.$color = '#C74243'
	//fd.plot();
	//fd.refresh();
	//fd.loadJSON([]);
	var node
	node = fd.graph.addNode({id:'_3',name:'3rd'});
	node.getPos().setc(100,100);
	node = fd.graph.addNode({id:'_1',name:''});
	node.getPos().setc(-250,-250);
	//fd.graph.removeNode("dummy");
	fd.root = '_3';
	//console.log(node);
	fd.plot();
	bkcanvas = document.getElementById("infovis-bkcanvas")
	context = bkcanvas.getContext("2d");
	// Draw Image function

	//context.drawImage("tree.jpg", 0, 0);
</script>

</body>
</html>
