<!doctype html>
<html>
<head>
<title>The Phylogenetics Sketchpad</title>
  <h1>The Phylogenetics Sketchpad</h1>

<link type="text/css" href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ url_for('static', filename='ForceDirected.css') }}" rel="stylesheet" />
<link type="text/css" href="{{ url_for('static', filename='jquery-ui-smoothness.css') }}" rel="stylesheet" />

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.json.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jit_biel.js') }}"></script>
</head>

<body>
	<div id="infovis" style="width: 500px; height: 500px;"></div> 
	
	
	
	<div id="myDialog">
		lorem ipsum...
		<input type="text" name="mainInput" id="mainInput" >	
	</div>
	
	<script type="text/javascript" src="{{ url_for('static', filename='sketchpad.js') }}"></script>
</body>
</html>
