<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Mobile Patent Suits</title>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?1.29.1"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?1.29.1"></script>
    <link type="text/css" href="{{ url_for('static', filename='jquery-ui-smoothness.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.json.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>

  </head>
  <body>
    <script type="text/javascript">

var $dialog

	$dialog = $('<div></div>')
		.html('<input type="text" size="25" value="Enter your name here!"><input type="text" name="xx" size="25" value="tpm!">')
		.dialog({
			autoOpen: false,
			modal:true,//true,
			//closeOnScape:false,
			//open:function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
			position: [100,100],
			title: false, //'PhyloSketcthpad',
			focus: function(){console.log('tpm'); $('input[name=xx]').focus()}
		});
	$dialog.dialog('open')
setTimeout(function(){
$("input[type=text]").focus(function(){
    // Select field contents
    this.select();
});
},500)

    </script>
  </body>
</html>

